{% extends 'index.html' %}

{% block title %} Login {% endblock %}


{% block content %} 

<div class="content">
	<h2>Login</h2>
	<form method="post">
		{{new_login_form.csrf_token()}}
		<input type="email" name="email" placeholder="Adresse email" required>
		{% if new_login_form.email.errors%}
			<ul>
				{% for error in new_login_form.email.errors%}
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<input type="password" name="password" placeholder="Mot de passe" required>
		{% if new_login_form.password.errors%}
			<ul>
				{% for error in new_login_form.password.errors%}
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<button type="submit">Connexion</button>
	</form>
</div>

{% endblock %}