# Commande pour tout installer => pip install -r requirements.txt

Flask==3.1.1

#formulaires
Flask-WTF==1.2.2
email_validator==2.2.0

#ORM pour la db
SQLAlchemy==2.0.41
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.10

Flask-Login==0.6.3